*~
/mysql/mysql.env
/portainer/data/
/dev/data/
/dev/.env
/dev/*.sql
/dev/*.sql.gz
/dev/certs/
/dev/bin/mkcert
/dev/conf.d/
/dev/log/
/dev/html/
/dev/dhparam.pem
/mongo/dump/
/mysql/*.sql
/mysql/*.sql.gz
/bin/docker-compose-*-*
/netdata/lib/
/netdata/cache/
/netdata/lib-agent/
/netdata/cache-agent/
/bin/dumb-init
/dev/hosts.export/
/compose-templates/*/.env
/compose-templates/*/data/
